{% load static %}
<!DOCTYPE html>
<html lang ='en'>

<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatable" content="ie=edge">
	<title>Registration</title>

	<!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:grey">
<div class="main" style="background-color:#F0F0FF">
	<!-- Sign up form -->
        <section class="signup">
            <div class="container">
            	<div class="signup-image" style="float: right;margin-top:75px" >
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="login" class="signup-image-link">I am already a member</a>
                    </div>
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <div>
							{% for message in messages %}
							<h3> {{message}} </h3>
							{% endfor %}
						</div>
							<form method="POST" action="register" class="register-form" 
								id="register-form">
								{% csrf_token %}
								<div class="form-group">
									<label for="name"><i class=""></i></label>
									First Name: <input type="text" name="first_name" placeholder="First Name" required>
								<div class="form-group">
									<br><label for="name"><i class=""></i></label>
									Last Name: <input type="text" name="last_name" placeholder="Last Name" required>
								<div class="form-group">
									<br><label for="name"><i class=""></i></label>
									Username: <input type="text" name="username" placeholder="Username" required>
								</div>
                            	<div class="form-group">
                                	<label for="email"><i class=""></i></label>
									Email: <input type="email" name="email" placeholder="Email" required>
								</div>
                            	<div class="form-group">
                                	<label for="pass"><i class=""></i></label>
									Password: <input type="password" name="password1" placeholder="Password" required>
								</div>
                            	<div class="form-group">
                                	<label for="pass"><i class=""></i></label>
									Re-password: <input type="password" name="password2" placeholder="Confirm Password" required>
								</div>
								<div class="form-group">
                                	<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required />
                                	<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
								<div class="form-group form-button">
									<input type="submit" name="signup" id="signup" class="form-submit" value="Register">
								</div>
							</form>
							</div>
                </div>
            </div>
        </section>
    </div>

	<!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>